<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Reset Password</h4>
    </div>
    <div class="modal-body">
      <p>Please fill in your email address</p>
      <%= form_tag password_reset_users_path, method: :post, remote: true, class: 'form-inline' do %>
        <div class="form-group mb-2">
          <%= label_tag 'email' %>
          <%= text_field_tag :email, '' , class: 'form-control-plaintext' %>
        </div>
        <%= submit_tag 'Password Reset', class: 'btn btn-primary mb-2' %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= link_to 'Login', login_users_path, class: 'btn btn-primary', remote: true %>
      <%= link_to 'Register', sign_up_users_path, class: 'btn btn-info', remote: true %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>