<h1>Edit Widget</h1>
<%= form_tag(widget_path(@widget['id']), :method => :put, style: 'padding: 50px') do %>
  <div class="form-group row">
    <%= label_tag 'name', 'Name', class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-3">
      <%= text_field_tag 'name', @widget['name'],  class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= label_tag  'description', 'Description', class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-3">
      <%= text_area_tag  'description' , @widget['description'],  class: 'form-control'%>
    </div>
  </div>
  <%= submit_tag 'Save Changes',  class: 'btn btn-primary mb-2' %>  |
  <%= link_to 'Back', my_widgets_path(id: 'me'),  class: 'btn btn-info mb-2' %>
<% end %>