<!DOCTYPE html>
<html>
  <head>
    <title>Showoffapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <%= render partial: 'users/login' %>
    </div>
  </body>
</html>
